body{

background:rgb(0, 0, 0);
color:white;
font-family:Arial;
text-align:center;

}

.titulo{

margin-top:30px;
letter-spacing:4px;

}

.cenario{

position:relative;
width:all;
margin:auto;

}

.background{

width:100%;

}


.item{

position:absolute;
width:80px;
cursor:pointer;
transition:0.2s;

}

.item:hover{

transform:scale(1.2);
filter:drop-shadow(0 0 10px cyan);

}



/* POSIÇÃO DOS ITENS */

.controle{

bottom:679px;
left:900px;

}

.manga{

bottom:120px;
left:260px;

}

.bombinha{

bottom:120px;
right:250px;

}

.poster{

top:100px;
left:350px;

}

.notebook{

bottom:120px;
right:120px;

}



/* DIALOGO */

.dialog{

position:fixed;
bottom:40px;
left:50%;
transform:translateX(-50%);

width:500px;
background:#111;
border:2px solid cyan;
padding:20px;

}

.hidden{

display:none;

}

.choices{

margin-top:15px;
display:flex;
flex-direction:column;
gap:10px;

}

.choices button{

background:black;
color:white;
border:1px solid cyan;
padding:10px;
cursor:pointer;

}

.choices button:hover{

background:cyan;
color:black;

}