body{
background-image:url("../static/Imagens/waifu5.jpg");
background-size:cover;
background-position:center;
font-family:monospace;
height:100vh;
overflow:hidden;
margin:0;
}

/* desktop */

.desktop{

position:relative;

width:100vw;
height:100vh;


grid-template-columns:repeat(auto-fill, 90px);

grid-template-rows:repeat(auto-fill, 100px);

grid-auto-flow:column;

gap:20px;

padding:20px;

height:100vh;

align-content:start;

}
/* ícones */

.icon{

position:absolute;

width:80px;

text-align:center;

color:white;

cursor:pointer;

user-select:none;

}

.icon img{

width:48px;

image-rendering:pixelated;

}
/* janela */

.window{
width:320px;
background:#c0c0c0;
border:2px solid black;
position:absolute;
top:150px;
left:200px;
display:none;
box-shadow:4px 4px black;
user-select:none;
}

/* barra */

.title-bar{
background:#000080;
color:white;
padding:5px;
display:flex;
justify-content:space-between;
cursor:move;
}

/* botões */

.buttons button{
background:#c0c0c0;
border:1px solid black;
cursor:pointer;
}

/* conteúdo */

.content{
padding:10px;
background:white;
}

