body{

background-image:url("../static/Imagens/waifu5.jpg");
background-size: center;


font-family:monospace;

height:200vh;

}

/* janela */

.window{

width:320px;

background:#44ff2b7b;

border:2px solid black;

position:absolute;

top:100px;

left:100px;

box-shadow:4px 4px black;

}

/* barra superior */

.title-bar{

background:#000080;

color:white;

padding:5px;

display:flex;

justify-content:space-between;

cursor:move;

}

.buttons button{

background:#6cff43a8;

border:1px solid black;

cursor:pointer;

}

/* conteúdo */

.content{

padding:10px;

background:#ffffffa8;
background:linear-gradient(45deg, #6cff43 25%, transparent 25%),
linear-gradient-45deg, hsla(0, 0%, 100%, 0.659) 25%, transparent 25%

}

/* desktop */

.desktop{

display:flex;

flex-direction:column;

gap:20px;

padding:20px;

}

/* ícones */

.icon{

width:80px;

text-align:center;

color:white;

cursor:pointer;

}

.icon img{

width:48px;

}
.window{

width:300px;

background:#c0c0c0;

border:2px solid black;

position:absolute;

top:150px;

left:200px;

display:none;

}

.title-bar{

background:#000080;

color:white;

padding:5px;

display:flex;

justify-content:space-between;

cursor:move;

}

.content{

padding:10px;

background:white;

}

/* desktop */

.desktop{

display:flex;

flex-direction:column;

gap:20px;

padding:20px;

}

/* ícones */

.icon{

width:80px;

text-align:center;

color:white;

cursor:pointer;

}

.icon img{

width:48px;

}
.window{

width:300px;

background:#c0c0c0;

border:2px solid black;

position:absolute;

top:150px;

left:200px;

display:none;

}

.title-bar{

background:#000080;

color:white;

padding:5px;

display:flex;

justify-content:space-between;

cursor:move;

}

.content{

padding:10px;

background:white;

}