<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>DAIKI ARCHIVE</title>

<link rel="stylesheet" href="../static/hub.css">


</head>

<body class="hub-page page-transition">
<canvas id="bgCanvas"></canvas>

<div class="hub">

<h1>DAIKI ARCHIVE</h1>

<p class="hub-sub">

BIBLIOTECA TEMÁTICA

</p>

<div class="hub-grid">

<div class="hub-card"> 

<a href="pag1.html" class="hub-card-link">

<img src="../static/Imagens/jujutsu2.png">

<h2>TEXT ARCHIVE</h2>

<p>textos diretamente da cabeça</p>

</a>

</div>

<div class="hub-card">
<a href="pag2.html" class="hub-card-link">
<img src="..\static\Imagens\dragao.png">

<h2>Cultura Digital</h2>

<p>o que eu recomendo para você</p>

</a>

</div>


<div class="hub-card">
<a href="pag3.html" class="hub-card-link">

<img src="../static/Imagens/beck.png">

<h2>OsakaXapa</h2>

<p>quantos ela aguenta carburar?</p>

</a>

</div>

<div class="hub-card">
<a href="pag4.html" class="hub-card-link">
<img src="../static/Imagens/snorlax.jpg">
<h2>Point Click</h2>
<p>em contrução</p>

</a>

</div>

<div class="hub-card">
<a href="pag5.html" class="hub-card-link">
<img src="../static/Imagens/naruto.jpg">
<h2>daiki.exe</h2>
<p>Area de Trabalho</p>

</a>

</div>

<div class="hub-card">
<a href="pag6.html" class="hub-card-link">
<img src="../static/Imagens/novo2.jpg">
<h2>Questions</h2>
<p>em contrução</p>

</a>

</div>

<div class="hub-card">
<a href="pag6.html" class="hub-card-link">
<img src="../static/Imagens/novo3.jpg">
<h2>Nothing</h2>
<p>...</p>

</a>

</div>

<div class="hub-card">
<a href="pag6.html" class="hub-card-link">
<img src="../static/Imagens/bolaod.png">
<h2>Nothing</h2>
<p>...</p>

</a>

</div>

<script src="../static/script.js"></script>

</body>

</html>