<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>DAIKI ARCHIVE</title>

<link rel="icon" type="image/png" href="../daiki.exe/static/Imagens/logo.png">
<link rel="stylesheet" href="../static/hub.css">


</head>

<body class="hub-page page-transition">
<canvas id="bgCanvas"></canvas>

<div class="crt" aria-hidden="true"></div>

<div class="mouse-light" aria-hidden="true"></div>

<div class="symbols" aria-hidden="true">
<span>ERROR_2004</span>
<span>MEMORY LOST</span>
<span>YUME</span>
<span>NEURAL LINK</span>
<span>DO YOU REMEMBER?</span>
<span>PRESS START</span>
<span>CYBER LOVE</span>
<span>NO SIGNAL</span>
<span>DREAM.LOG</span>
<span>404 EMOTION</span>
<span>GOD IS IN THE MACHINE</span>
<span>199X</span>
<span>LOADING FEELINGS...</span>
<span>DIGITAL GHOST</span>
<span>broken memories</span>
<span>ANIME GIRL ONLINE</span>
<span>connection unstable</span>
<span>PROJECT:D4IKI</span>
<span>save progress?</span>
<span>midnight tokyo</span>
<span>sleep mode</span>
<span>EVANGELION</span>
<span>dreamcore_archive</span>
<span>lost in akihabara</span>
<span>RESET?</span>
<span>blue screen feelings</span>
<span>DAIKI_MEMORY_2004</span>
<span>rebuilding consciousness</span>
<span>NEW TYPE HUMAN</span>
<span>emotional damage.dll</span>
<span>FM TOWN MEMORY</span>
<span>SEGA SATURN</span>
<span>PLAYSTATION_02</span>
<span>lainpilled</span>
<span>angel.exe</span>
<span>welcome back</span>
<span>do_not_forget_me</span>
</div>

<div class="hub">

<h1>DAIKI ARCHIVE</h1>

<p class="hub-sub">

BIBLIOTECA TEMÁTICA

</p>

<div class="hub-grid">

<div class="hub-card"> 

<a href="pag1.html" class="hub-card-link">

<img src="../static/Imagens/jujutsu2.png">

<h2>TEXT ARCHIVE</h2>

<p>textos diretamente da cabeça</p>

</a>

</div>

<div class="hub-card">
<a href="pag2.html" class="hub-card-link">
<img src="..\static\Imagens\dragao.png">

<h2>Cultura Digital</h2>

<p>o que eu recomendo para você</p>

</a>

</div>


<div class="hub-card">
<a href="pag3.html" class="hub-card-link">

<img src="../static/Imagens/beck.png">

<h2>OsakaXapa</h2>

<p>quantos ela aguenta carburar?</p>

</a>

</div>

<div class="hub-card">
<a href="pag4.html" class="hub-card-link">
<img src="../static/Imagens/snorlax.jpg">
<h2>Point Click</h2>
<p>em contrução</p>

</a>

</div>

<div class="hub-card">
<a href="pag5.html" class="hub-card-link">
<img src="../static/Imagens/naruto.jpg">
<h2>daiki.exe</h2>
<p>Area de Trabalho</p>

</a>

</div>

<div class="hub-card">
<a href="pag6.html" class="hub-card-link">
<img src="../static/Imagens/novo2.jpg">
<h2>Questions</h2>
<p>em contrução</p>

</a>

</div>

<div class="hub-card">
<a href="pag6.html" class="hub-card-link">
<img src="../static/Imagens/novo3.jpg">
<h2>Nothing</h2>
<p>...</p>

</a>

</div>

<div class="hub-card">
<a href="pag6.html" class="hub-card-link">
<img src="../static/Imagens/bolaod.png">
<h2>Nothing</h2>
<p>...</p>

</a>

</div>

</div>

</div>

<script src="../static/script.js"></script>

</body>

</html>
