<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>DAIKI ARCHIVE</title>

<link rel="stylesheet" href="../static/style.css">


</head>

<body class="page-transition">
<canvas id="bgCanvas"></canvas>

<div class="hub">

<h1>DAIKI ARCHIVE</h1>

<p class="hub-sub">

BIBLIOTECA TEMÁTICA

</p>

<div class="hub-grid">

<div class="hub-card"> 

<a href="pag1.html" class="hub-card-link">

<img src="../static/Imagens/jujutsu2.png">

<h2>TEXT ARCHIVE</h2>

<p>deixe um comentário (opcional)</p>

</a>

</div>

<div class="hub-card">
<a href="pag2.html" class="hub-card-link">
<img src="..\static\Imagens\dragao.png">

<h2>Cultura Digital</h2>

<p>i lov video-games</p>

</a>

</div>


<div class="hub-card">
<a href="pag3.html" class="hub-card-link">

<img src="../static/Imagens/beck.png">

<h2>XPERIMENTOS</h2>

<p>xxx</p>

</a>

</div>

<div class="hub-card">
<a href="pag4.html" class="hub-card-link">
<img src="../static/Imagens/mago.png">
<h2>gang</h2>
<p>ppooop</p>

</a>

</div>

<div class="hub-card">
<a href="pag5.html" class="hub-card-link">
<img src="../static/Imagens/lua.png">
<h2>Laboratório</h2>
<p>lua</p>

</a>

</div>

<div class="hub-card">
<a href="pag6.html" class="hub-card-link">
<img src="../static/Imagens/waifuu.png">
<h2>DAIKI</h2>
<p>...</p>

</a>

</div>

<script src="../static/retro.js"></script>
<script src="../static/script.js"></script>

</body>

</html>