<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<title>DAIKI.EXE</title>

<link rel="stylesheet" href="../static/pag4.css">
<link rel="stylesheet" href="../static/back-button.css">

</head>

<body>

<a href="hub.html" class="hub-back" aria-label="Voltar para o hub">back</a>

<div class="cenario">

<img src="../static/Imagens/parede.png" class="background">


<img src="../static/Imagens/controle.png" class="item controle" data-item="controle">

<img src="../static/Imagens/manga.png" class="item manga" data-item="manga">

<img src="../static/Imagens/asma.png" class="item bombinha" data-item="bombinha">

<img src="../static/Imagens/psote.png" class="item poster" data-item="poster">

<img src="../static/Imagens/notebook.png" class="item notebook" data-item="notebook">


</div>


<div id="dialogBox" class="dialog hidden">

<p id="dialogText"></p>

<div class="choices">

<button id="choice1"></button>
<button id="choice2"></button>
<button id="choice3"></button>

</div>

</div>


<script src="../static/retro.js"></script>

</body>

</html>
